@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Protest+Revolution&display=swap');
*{font-family:  'Oswald', sans-serif;
    font-family: 'Protest Revolution', sans-serif;;}
h1 {
    color: aquamarine;
}

p {
    color: rgb(114, 210, 18);
}

p {
    font-size: 20px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

h1 {
    text-shadow: 2px 5px 10px rgb(197, 184, 184);
}
.thistag {
    color: rgb(29, 65, 196);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: inline;
    width: 200px;
    height: 250px;
}
h2{
    background-color: bisque;
    padding: 0lvh;
    display: inline;

}
ul{
    background-color: azure;
    color: rgb(1, 9, 17);

    padding: 5px;
    border: 5px rgb(255, 1, 1);
    margin: 20px;
    width: 5em;
}
body{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    
}